:root {
  --dark-purple: #170028;
  --peach: #e96444;
  --rose-pink: #a4124c;
  --purple: #3424ac;

  --dark-green: #014e33;
  --forest-green: #3a8107;
  --mint-green: #33b885;
  --brown: #2e1c0b;

  --navy: #00101f;
  --pale-blue: #6eaeeb;
  --aqua: #65fddd;

  background-color: var(--navy);
  font-family: "Poppins";
}

body {
  margin: 0;
  color: white;
  font-weight: 300;
  padding: 15px;
  letter-spacing: 0.02em;
}
html {
  scroll-behavior: smooth;
}
section {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* /////////////////////////////////
/* ////////// Top of Page //////////
/* ///////////////////////////////*/

.image-text {
  font-weight: 300;
  text-align: center;
  font-size: 130%;
  color: white;
}

.img-background-container {
  display: flex;
  position: relative;
  max-width: 50em;
  margin: 0 auto;
}

.image-background {
  width: 100%;
  height: 100%;
}

.image-profile {
  width: 200px;
}

/* /////////////////////////////////
/* /// Top of Page - icon links ////
/* ///////////////////////////////*/
.icon_container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  padding-top: 20px;
}
.icon_container > .icon {
  padding: 0 15px;
}

.fa-github-square {
  color: var(--aqua);
}
.fa-github-square:hover {
  color: white;
}
.fa-envelope {
  color: var(--aqua);
}
.fa-envelope:hover {
  color: white;
}
.fa-linkedin {
  color: var(--aqua);
}
.fa-linkedin:hover {
  color: white;
}
/*End icon links*/

/* /////////////////////////////////
/* //////// Navigation Bar /////////
/* ///////////////////////////////*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: var(--aqua);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.2em;
  font-weight: 300;

  color: #091555;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
nav a:hover {
  color: white;
}
main {
  margin-left: 250px;
}
.navbar {
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.page-layout {
  display: flex;
  padding-left: 250px;
}

#button-and-icon {
  display: flex;
  position: inherit;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
/* End Nav Bar*/

/* //////////////////////////////////
/* ///////// All text ///////////////
/* ////////////////////////////////*/
#typing-effect-text {
  text-align: center;
  font-weight: 300;
  font-size: 1.4rem;
  color: white;
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
}
.contact-info {
  font-weight: 300;
  color: white;
  padding-bottom: 30px;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.content {
  font-weight: 300;
  color: white;
  text-align: left;
}

/* default button */
.button {
  color: var(--aqua);
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bolder;
  line-height: 45px;
  margin: 0 0 0;
  max-width: 180px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.title {
  color: white;
  font-size: 175%;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 20px;
}

.subtitle {
  color: white;
  font-size: 125%;
  font-weight: 100;
  margin-bottom: 20px;
  margin-top: 20px;
  /* text-align: center; */
}

.work-title-div {
  color: white;
  font-size: 15px;
  text-align: left;
  width: 50%;
  margin-left: 0;
  margin-right: auto;
  float: left;
}
.work-date-div {
  font-size: 15px;
  color: white;
  text-align: right;
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  float: right;
}
.company-name {
  font-size: 13px;
  color: white;
  margin-left: 0;
  margin-right: auto;
  float: left;
  text-indent: 20px;
}

.work-description {
  font-size: 13px;
  color: white;
  margin-left: 0;
  margin-right: auto;
  float: left;
  padding-left: 20px;
}
.project-subtitle {
  color: white;
  font-size: 125%;
  font-weight: 100;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
/* End text formatting*/

/* /////////////////////////////////
/* ///////// Resume button /////////
/* ///////////////////////////////*/
.resume-button {
  background: var(--navy);
  font-weight: 100;
  text-align: center;
}
.resume-button svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.resume-button rect {
  fill: none;
  stroke: var(--navy);
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
.resume-button:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.resume-button:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

/* end resume button*/

/* /////////////////////////////////
/* //////// Project buttons ////////
/* ///////////////////////////////*/
.btn {
  border: none;
  border-radius: 25px;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Icon separator */
.btn-sep {
  padding: 25px 60px 25px 120px;
}

.btn-sep:before {
  background: rgba(0, 0, 0, 0.15);
}

.btn-1 {
  background: var(--aqua);
  color: #091555;
}

.btn-1:hover {
  background: rgb(66, 185, 146);
}

.btn-1:active {
  background: var(--aqua);
  top: 2px;
}

.btn-1:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 65px;
  font-size: 45px;
  width: 60px;
}
/* End project buttons */

/* /////////////////////////////////
/* ////////// Donut Chart //////////
/* ///////////////////////////////*/
#donut {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* End Donut chart */

/* ///////////////////////////////////////////
/* // Responsiveness for different screens //
/* ///////////////////////////////////////*/

/* Screen sizes up to 1536px include all major tablets */
@media screen and (max-width: 1536px) {
  .hideNav {
    display: none;
  }
  .page-layout {
    display: flex;
    padding-left: 0;
  }
  .profile-pic {
    display: flex;
  }

  .fa-github-square {
    color: var(--aqua);
  }
  .fa-github-square:hover {
    color: white;
  }
  .fa-envelope {
    color: var(--aqua);
  }
  .fa-envelope:hover {
    color: white;
  }
  .fa-linkedin {
    color: var(--aqua);
  }
  .fa-linkedin:hover {
    color: white;
  }

  .button-container {
    display: flex;
  }
  .button {
    appearance: none;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 90%;
    line-height: 1;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  .button:hover,
  .button:focus {
    outline: 0;
  }
  .resume-button {
    border-color: var(--aqua);
    color: var(--navy);
    box-shadow: 0 0 40px 40px var(--aqua) inset, 0 0 0 0 var(--aqua);
    transition: all 150ms ease-in-out;
  }
  .resume-button:hover {
    box-shadow: 0 0 10px 0 var(--aqua) inset, 0 0 10px 4px var(--aqua);
  }
}
